[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "vim/bundle/protobuf-syntax"]
	path = vim/bundle/protobuf-syntax
	url = https://github.com/jdevera/vim-protobuf-syntax.git
	ignore = dirty
[submodule "vim/bundle/django"]
	path = vim/bundle/django
	url = https://github.com/vim-scripts/django.vim
	ignore = dirty
[submodule "vim/bundle/Rainbow-Parenthesis"]
	path = vim/bundle/Rainbow-Parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
	ignore = dirty
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = https://github.com/vim-scripts/glsl.vim
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/awreece/oh-my-zsh.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/awreece/prezto.git
[submodule "vim/bundle/Floobits"]
	path = vim/bundle/Floobits
	url = https://github.com/Floobits/floobits-vim
	ignore = dirty
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
	ignore = dirty
